/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  background-image: url('app/images/colorful-striped-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
}
